{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <h1>Список животных</h1>
    {% for pet in pets %}
        <div class="card mb-3">
            <div class="card-header">
                Имя:
                <a href="{% url 'pets:pet_detail' pet.pk %}">{{ pet.name }}</a>
            </div>

            <div class="card-body">
                <p class="card-title">Кличка: {{ pet.name }}</p>
                <p class="card-text">Особые приметы: {{ pet.special_sigh }}</p>
                <p class="card-text">Приют: {{ pet.shelter }}</p>
                <a href="{% url 'pets:pet_detail' pet.pk %}" class="btn btn-primary">Перейти на карточку</a>
            </div>

            <div class="card-footer text-muted">
               Дата прибытия: {{ pet.arrived|date:"Y-m-d" }}
            </div>
        </div>
    {% endfor %}

{% endblock %}