{% extends 'base.html' %}

{% block title %}
    {{ pet }}
{% endblock %}

{% block content %}
            <div class="card mb-3">
            <div class="card-header">
                <a href="{% url 'pets:pet_detail' pet.pk %}">{{ pet.name }}</a>
            </div>

            <article class="card-body">
                <p class="card-title">Кличка: {{ pet.name }}</p>
                <p class="card-text">Дата рождения: {{ pet.age }}</p>
                <p class="card-text">Вес: {{ pet.weight }}</p>
                <p class="card-text">Рост: {{ pet.height }}</p>
                <p class="card-text">Особые приметы: {{ pet.special_sigh }}</p>
                <p class="card-text"> Дата прибытия: {{ pet.arrived|date:"Y-m-d" }}</p>
                <p class="card-text">Приют: {{ pet.shelter }}</p>

                {% if  'pets.change_pet' in user.get_user_permissions  %}
                    <a class="btn btn-primary" href="{% url 'pets:pet_update' pet.pk %}">Отредактировать</a>
                {% endif %}

                {% if  'pets.delete_pet' in user.get_user_permissions  %}
                    <a class="btn btn-primary" href="{% url 'pets:pet_delete' pet.pk %}">Удалить</a>
                {% endif %}
            </article>

            <div class="card-footer text-muted">
            </div>
        </div>

{% endblock %}
