{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'pets:home' %}">На главную</a>
            {% if request.user.is_authenticated %}
                 Добро пожаловать {{ user.username }} | <a href="{% url 'pets:logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'pets:login' %}">Авторизоваться</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>